{% load static %}
<html>
    <head>
        <title>Game Dev Curation Service</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/devinfo.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a class="title-text" href="/">Game Dev Curation</a></h1>
        </div>
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>