{% extends 'devinfo/base.html' %}

{% block content %}
<a href="{% url 'devinfo' %}?game_id=1">Game1</a>

<!-- <div id="wrapper"><span class="label">Root</span>
    <div class="branch">
        <div class="entry"><span class="label">Entry-1</span>
            <div class="branch">
                <div class="entry"><span class="label">Entry-1-1</span></div>
            </div>
        </div>
        <div class="entry"><span class="label">Entry-2</span></div>
    </div>
</div> -->

<div id="wrapper">
    <span class="label">
        <button type="button" onclick="location.href='{% url 'devinfo' %}?game_id=1'">
            <img class="node-image" src="{{ game.thumbnail.url }}">
            <div class="node-layer"></div>
            <div class="node-text">{{ game.name }}</div>
        </button>
    </span>
    {% if tags %}
        <div class="branch">
            {% for tag in tags %}
                {%include "devinfo/treenode.html" %}
            {% endfor %}
        </div>
    {% else %}
        
    {% endif %}
</div>
{% endblock %}