{% extends 'devinfo/base.html' %}

{% block content %}
<div class="content-parent">
    <div class="content-child1">
        <p class="game-list-title">목표 게임</p>
        {% for g in games %}
            <div class="game-block">
                <button class="game-button" type="button" onclick="location.href='{% url 'devinfo' %}?game_id={{g.id}}'">
                    {% if g.thumbnail %}
                        <img class="node-image" src="{{ g.thumbnail.url }}">
                    {% else %}
                        <img class="node-image">
                    {% endif %}
                    <div class="node-layer"></div>
                    <div class="node-text">{{ g.name }}</div>
                </button>
            </div>
        {% endfor %}
        
    </div>
    <div class="content-child2">
        <div id="wrapper">
            {% if game %}
                <span class="label">
                    <button type="button" onclick="location.href='{% url 'devinfo' %}?game_id={{game.id}}'">
                        {% if game.thumbnail %}
                            <img class="node-image" src="{{ game.thumbnail.url }}">
                        {% else %}
                            <img class="node-image">
                        {% endif %}
                        <div class="node-layer"></div>
                        <div class="node-text">{{ game.name }}</div>
                    </button>
                </span>
            {% endif %}
            {% if tags %}
                <div class="branch">
                    {% for tag in tags %}
                        {%include "devinfo/treenode.html" %}
                    {% endfor %}
                </div>
            {% else %}
                
            {% endif %}
        </div>
    </div>
</div>

<hr/>
<div>
    <h2>{{cur_tag.name}}</h2>
    <br>
    <p>{{cur_tag.description|linebreaks}}</p>
</div>
{% endblock %}