<div class="entry">
    {% if tag.children.all %}
        <span class="label">
            <button type="button" onclick="location.href='{% url 'devinfo' %}?game_id={{game.id}}&cur_tag={{ tag.id }}{{ sel_tag_url }}'">
                {% if tag.thumbnail %}
                    <img class="node-image" src="{{ tag.thumbnail.url }}">
                {% else %}
                    <img class="node-image">
                {% endif %}
                <div class="node-layer"></div>
                <div class="node-text">{{ tag.name }} > </div>
            </button>
        </span>
            {% if tag.id in sel_tag %}
            <div class="branch">
                {% for tag in tag.children.all %}
                    {%include "devinfo/treenode.html" %}
                {% endfor %}
            </div>
            {% else %}

            {% endif %}
        
    {% else %}
        <span class="label">
            <button type="button" onclick="location.href='{% url 'devinfo' %}?game_id={{game.id}}&cur_tag={{ tag.id }}{{ sel_tag_url }}'">
                {% if tag.thumbnail %}
                    <img class="node-image" src="{{ tag.thumbnail.url }}">
                {% else %}
                    <img class="node-image">
                {% endif %}
                <div class="node-layer"></div>
                <div class="node-text">{{ tag.name }}</div>
            </button>
        </span>   
    {% endif %}
</div>